.App {
  text-align: center;
  padding: 32px 16px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 74px; /* offset to move caption outside of table wrapper */
}

@media (min-width: 600px) {
  .App {
    padding: 80px;
  }
}
